.profile {
    margin-bottom: 10px;
}

.profile-title {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.info {
    padding-left:1.0em;
}

.user-edit-btn {
    margin-top: 30px;
    text-align:center;
}

.user-edit-btn button {
    width: 12em;
}

.user-create-btn {
    margin-top: 30px;
    text-align:center;
}

.user-create-btn button {
    width: 12em;
}

.icon {
    margin-bottom: 1em;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

#tab1:checked~.follow-follower #follow {
	display: inline-table;
}

#tab2:checked~.follow-follower #follower {
	display: inline-table;
}

.tab_lab {
    box-sizing: border-box;
    background-color: #d9d9d9;
    font-size: 1.1em;
    width: 50%;
    height: 2em;
    line-height: 2em;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 3px solid #5ab4bd;
    float: left;
}

.tabs input:checked + .tab_lab {
    background-color: #5ab4bd;
    font-weight: bold;
    color: #fff;
    border-bottom: #5ab4bd;
}

input[name="tab"] {
	display: none;
}

.panel {
	display: none;
}

.follow-follower table {
    width: 100%;
}

.follow-follower .td-icon {
    width: 3.0em;
}

.follow-follower .follower-icon {
    border: 1px solid black;
    border-radius: 50%;
    width: 3.0em;
    height: 3.0em;
    margin-top: 5px;
    margin-right: 3px;
}

.follow-follower .td-name {
    font-size: 1.2em;
    font-weight: bold;
    word-wrap: break-word;
}

.follow-follower .td-btn button {
    float: right;
    width: 8em;
}

.follow-follower .tr-comment {
    border-bottom: 1px solid #dedede;
}

.follow-follower .td-comment {
    padding-left: 3.2em;
    font-size: 1.0em;
}